.AboutContainer {
    padding-top: 8rem;
    background: #000;
    color: #f4bfdb;
    /* min-width: 100vw;
    height: 120vh; */
    margin: 0px;
    height: 100%;
    min-width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.AboutRow1 {
}

.AboutHeader {
    font-family: "Satisfy", cursive;
}

.AboutCol1 {
    color: #512d38;
    background-color: #f4bfdb;
    max-height: 100%;
    font-size: 1.2rem;
}

.AboutCol2 {
    padding: 0px;
}

.AboutCol2Image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    /* width: 100%;
    height: auto; */

    /* filter: opacity(95%); */
}

/* @media only screen and (max-width: 992px) {
    .AboutCol2 {
        background-image: url("../assets/community.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: initial;
    }
} */
