.Button {
    font-size: 1.2rem;
    align-self: center;
    padding: 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 75px;
    border: transparent;
    background-color: #87baab;
    color: #FFF;
}

.Follow {
    background: transparent;
    border-color: transparent;
    outline: none !important;
    box-shadow: none;
}

.Follow:hover {
    background-color: transparent;
    border: transparent;
    outline: none !important;
    box-shadow: none;
}

.Follow:active {
    background-color: transparent;
    border: transparent;
    outline: none !important;
    box-shadow: none;
}

.Follow:active:focus {
    background-color: transparent !important;
    border: transparent;
    outline: none !important;
    box-shadow: none !important;
}

.Follow:focus {
    background-color: transparent;
    border: transparent;
    outline: none;
    box-shadow: none;
}

.Button:hover {
    opacity: 0.8;
    border-color: transparent;
    cursor: pointer;
    color: #ffe9f3;
    background-color: #b27092;
}

.Button:hover:active {
    background-color: #512d38 !important;
}

.Button:active {
    background-color: #512d38 !important;
}

.Button:focus {
    background-color: #512d38;
}

.Wide {
    padding: 10px 50px;
    width: 100%;
}

.Pink,
.PinkOutline:hover,
.Bright:hover {
    background-color: #ff66b3;
    color: #ffffff;
}

.Blue,
.BlueOutline:hover,
.Bright:hover {
    background-color: #512d38;
    color: #ffffff;
}

.BlueOutline,
.Blue:hover {
    /* border: 1px solid #2142b2; */
    background-color: #ffffff;
    color: #2142b2;
}

.Black,
.BlackOutline:hover {
    /* background-color: #242a3d;
    color: white; */
    background-color: #242a3d;
    color: aliceblue;
}

.Black:hover,
.BlackOutline {
    /* background-color: #dadadf;
    color: #242a3d;
    border-color: #242a3d; */
    background-color: aliceblue;
    color: #242a3d;
}

.Bright {
    background-color: #2ed9ff;
    color: #2142b2;
}
