.CustomButton {
    margin: 0 auto;
    display: block;
    font-size: 1.2rem;
    border: transparent;
    background-color: #ff66b3;
    color: #FFF;
    display: block;
}

.CustomButton:hover {
    opacity: 0.8;
    border-color: transparent;
    cursor: pointer;
    color: #ffe9f3;
    background-color: #b27092;
}

.Cancel {
    background-color: #f4bfdb;
}