.Container {
    margin-top: 10rem;
    height: 100vh;
    color: #ffe9f3;
    font-family: "Roboto", serif;
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.GoBack {
    font-size: 1.5rem;
}