.homeBackground {
    padding-top: 8rem;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    /* background-image: url("../assets/homebackgroundimage.jpg"); */
    min-width: 100vw;
    /* min-height: 100vh; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(50%);
    color: pink;
}

.Col {
    width: 85%;
    padding-left: 6rem;
}

.ProfileCol {
    width: 85%;
    padding-right: 6rem;
    color: #512d38;
}

.SearchBar input {
    border-radius: 20px;
    color: #242a3d;
    padding-left: 40px;
    margin-bottom: 16px;
    background:rgba(255, 255, 255, 0.7);
}

.SearchIcon {
    position: absolute;
    font-size: 1.2rem;
    padding: 9px;
    padding-left: 15px;
}

.SearchIcon:hover {
    cursor: default;
    color: #cfced3;
}

@media only screen and (max-width: 992px) {
    .Col {
        padding-left: 1.5rem;
    }
}
