/* Styles for background and posts-feed */
.homeBackground {
    padding-top: 8rem;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    min-width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: pink;
}

.Col {
    width: 85%;
    padding-left: 6rem;
}

.ProfileCol {
    width: 85%;
    padding-right: 6rem;
    color: #512d38;
}

/* Search styles */
.SearchBar input {
    border-radius: 20px;
    color: #242a3d;
    padding-left: 40px;
    margin-bottom: 1rem;
    background: rgba(255, 255, 255, 0.7);
    text-align: left;
}

.SearchIcon {
    position: absolute;
    font-size: 1.2rem;
    padding: 9px;
    padding-left: 15px;
}

.SearchIcon:hover {
    cursor: default;
    color: #ff66b3;
}

/* Social links styles */
.Social {
    border-radius: 2px;
    justify-content: center;
    background: rgba(255, 255, 255, 0.7);
    text-align: center;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #dadadf;
}

.Social h3 {
    margin-top: 0 !important;
}

.Social i:hover {
    color: #ff66b3;
}

/* Media queries */
@media only screen and (max-width: 992px) {
    .Col {
        padding: 0px;
    }
}
