.PostInteraction {
    text-align: center;
}

.Card {
    background-color: rgba(255, 255, 255, 0.7);
    color: #512d38;
}

.PostOwner {
    font-size: 1.2rem;
    font-weight: 400;
    color: #512d38;
}

.Image {
    max-height: 70vh;
    max-width: 100%;
    object-fit: cover;
}

.Heart {
    color: #ff66b3;
}

.Heart:hover {
    color: #f4bfdb;
}

.HeartOutline {
    color: #ff66b3;
}