.Row {
    padding-top: 8rem;
}

.ProfileImage {
    object-fit: cover;
    height: 125px;
    width: 125px;
    margin: 0px
}

@media screen and (max-width: 991px) {
    .ProfileImage {
        height: 250px;
        width: 250px;
    }
}