.ProfileImage {
    object-fit: cover;
    height: 125px;
    width: 125px;
    margin: 4px
}

@media screen and (max-width: 991px) {
    .ProfileImage {
        height: 250px;
        width: 250px;
    }
}