.SignUpBg {
    /* background: rgb(2, 0, 36);
    background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(244, 191, 219, 1) 35%,
        rgba(135, 186, 171, 1) 100%
    ); */
    background-image: url("../assets/homebackgroundimage.jpg");
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    min-width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* .SignUpHeader {
    padding-top: 8rem;
    padding-bottom: 2rem;
    text-align: center;
    color:#512d38;
} */

.Row {
    /* padding-top: 10rem; */
    height: 100%;
}

.About {
    width: 85%;
    border: 1px solid #FFF;
    padding: 1rem;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.7);
    color: #512d38;
}

.signUpImage {
    max-height: 40vh;
    max-width: 100%;
    object-fit: cover;
    margin-left: 2rem;
}

.SignUpSpan:hover {
    color: red;
    transition: color ease-in-out 0.2s;
}

.SignUpSpan {
    color: #b27092;
}

.Form {
    text-align: center;
    width: 85%;
    border: 1px solid #FFF;
    padding: 1rem;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.5);
    color: #512d38;
}
