.SignUpBg {
    background: rgb(2, 0, 36);
    background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(244, 191, 219, 1) 35%,
        rgba(135, 186, 171, 1) 100%
    );
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    min-width: 100vw;
    min-height: 100vh;
    position: fixed;
}

.SignUpHeader {
    padding-top: 8rem;
    text-align: center;
}

.Row {
    padding-top: 3rem;
}

.Col {
}


.Form {
    text-align: center;
    width: 85%;
    border: 1px solid white;
    padding: 1rem;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.5);
    color: #512d38;
    min-height: 100%;
}
