.SignUpBg {
    background: rgb(2, 0, 36);
    background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(244, 191, 219, 1) 35%,
        rgba(135, 186, 171, 1) 100%
    );
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    min-width: 100vw;
    min-height: 100vh;
    position: fixed;
}

.SignUpHeader {
    padding-top: 8rem;
    padding-bottom: 2rem;
    text-align: center;
    color:#512d38;
}

.Row {
    padding-top: 0.5rem;
}

.About {
    width: 85%;
    border: 1px solid white;
    padding: 1rem;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.5);
    color: #512d38;
}

.AboutBgImg {
    background-image: url('../assets/signupimage.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* img {
    align-self: center;
    width: 85%;
} */

.signUpImage {
    max-height: 40vh;
    max-width: 100%;
    object-fit: cover;
    margin-left: 2rem;
}

p {
    width: 85%;
    border: 1px solid white;
    padding: 1rem;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.5);
    color: #512d38;
}

span {
    color:aliceblue;
}

.Form {
    text-align: center;
    width: 85%;
    border: 1px solid white;
    padding: 1rem;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.5);
    color: #512d38;
}
