.signInBg {
    background: rgb(2, 0, 36);
    background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(244, 191, 219, 1) 35%,
        rgba(135, 186, 171, 1) 100%
    );
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    min-width: 100vw;
    min-height: 100vh;
    position: fixed;
}

.SignInHeader {
    padding-top: 8rem;
    padding-bottom: 2rem;
    text-align: center;
    color:#512d38;
}

.Row {
    padding-top: 110px;
}

.Form {
    text-align: center;
    width: 80%;
    border: 1px solid #FFF;
    padding: 1rem;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.5);
    color: #512d38;
}
