/* Background and text styles */
.TutorialShareEditBgImage {
    background: rgb(2, 0, 36);
    background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(244, 191, 219, 1) 35%,
        rgba(135, 186, 171, 1) 100%
    );
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    min-width: 100vw;
    min-height: 100vh;
    background-attachment: fixed;
}

.TextBrown {
    color: #512d38;
}

.DarkPink {
    color: #b27092;
}

.TutorialShareEditForm {
    padding-top: 120px;
}

.TutorialShareContainer {
    width: 85%;
    height: 100%;
}

.TutorialShareEditImageFormBg {
    background: rgba(255, 255, 255, 0.5);
}

.TutorialShareBgTransparent {
    background-color: transparent;
    border: none;
}