.Tutorial {
    background: rgba(255, 255, 255, 0.7);
}

.TutorialInteraction {
    text-align: center;
}

.TutorialSpan {
    color: #ff66b3 !important;
    font-size: 1.2rem;
    font-weight: 600;
}

.TextBrown {
    color: #512d38;
}

.TextPink {
    color: #ff66b3;
}