.Tutorial {
    background: rgba(255, 255, 255, 0.7);
}

.TutorialInteraction {
    text-align: center;
}

.TutorialSpan {
    color: #ff66b3;
}

.TextBrown {
    color: #512d38;
}

.TextPink {
    color: #ff66b3;
}