.App {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}

/* a {
    color: #512d38;
    transition: color ease-in-out 0.4s;
    font-size: 1.2rem;
}

a:hover {
    text-decoration: none;
} */

/* a:hover i {
    color: #b27092;
    transition: color ease-in-out 0.3s;
}

i {
    color: #512d38;
    font-size: 1.5rem;
    vertical-align: middle;
    padding: 0.2rem;
}

i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #b27092;
} */