html {
    overflow-x: hidden;
}

html,
body {
    height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

input[type="text"]::-webkit-input-placeholder {
    color: #b27092;
}


.App {
    font-family: "Roboto", sans-serif;
    background: #333333;
    min-height: 100vh;
}

.PaddingTop {
    padding-top: 8rem;
}

/* div {
    overflow-x: hidden;
} */
.Container {
    overflow-x: hidden;
    padding: 0px;
}

.MainDiv {
    overflow-x: hidden;
    padding: 0px;
}

* {
    box-sizing: border-box;
}

.PageNotFound {
    padding-top: 150px;
}

.Main {
    max-width: 100%;
    height: 100vh;
    padding: 0;
}

.Content {
    background: rgba(255, 255, 255, 0.7);
    padding: 1rem;
    border-radius: 2px;
    border: 1px solid #dadadf;
}

.FormControl {
    color: #b27092 !important;
}

Form.Control:focus {
    border-color: #ff66b3 !important;
    color: #ff66b3 !important;
}

.FillerImage {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.Image {
    max-height: 40vh;
    max-width: 100%;
    object-fit: contain;
}

a {
    color: #555555;
    transition: color ease-in-out 0.3s;
}

a:hover {
    text-decoration: none;
}

a:hover i {
    color: #512d38;
    transition: color ease-in-out 0.3s;
}

input[type="file"] {
    display: none;
}

i {
    color: #cfced3;
    font-size: 1.6rem;
    padding: 7px;
    vertical-align: middle;
}

i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #ff66b3;
}

figure {
    text-align: center;
    display: inline-block;
}

/* scrollbar */
*::-webkit-scrollbar {
    width: 5px;
}
*::-webkit-scrollbar-track {
    background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
    background: #888;
}
*::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/* a {
    color: #512d38;
    transition: color ease-in-out 0.4s;
    font-size: 1.2rem;
}

a:hover {
    text-decoration: none;
} */

/* a:hover i {
    color: #b27092;
    transition: color ease-in-out 0.3s;
}

i {
    color: #512d38;
    font-size: 1.5rem;
    vertical-align: middle;
    padding: 0.2rem;
}

i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #b27092;
} */

@media only screen and (max-width: 600px) {
    .Main {
        height: 100%;
    }
}
